.wrappercard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-gap: 16px;
  }
  .text-red {
    color: red;
  }
@media (min-width: 800px) {
    .wrapper {
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-gap: 16px;
    }
  
    aside {
      align-self: start;
    }
  }



